<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Консультация для пользователя <%= @user.name %>!</h1>
    <p>Телефон: <%= @user.phone_number %></p>
    <p>Email: <%= @user.email %></p>
  </body>
</html>