<h2>Услуги</h2>


<div class="container">
	<% @favours.each do |favour|%>
  <div class="row">
    <div class="col-sm">
        <a href="/favours/<%= favour.id %>"><img src="<%= favour.image_link %>" width="200" height="200" alt="упс..." class="scale_form"></a>
        <br><br><h3><%= favour.title %></h3><br>
  </div>
</div>
<% end %>
</div>
