<form action="/favours/new" method="POST" align="center" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="title" type="text" class="form-control"  placeholder="Введите название">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="description" type="text" class="form-control"  placeholder="Введите описание">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="price" type="text" class="form-control"  placeholder="Введите стоимость">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="image_link" type="text" class="form-control"  placeholder="Введите ссылку на изображение">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <br><button type="submit" class="btn btn-primary">Подтвердить</button>
    </div>
  </div>
</form>
