<h2><%=@user.name%>, Ваш запрос принят!</h2>
<div class="content" align="center">
	<p>Наши специалисты свяжутся с Вами в течение нескольких минут и проконсультируют по всем интересующим Вас вопросам и дальнейшим действиям</p>
	<p>Спасибо, что выбрали нас!</p>
	<img src="/success.png" width="300" height="300">
</div>