<table class="table table-striped">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Логин</th>
			<th>Телефон</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user|%>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.phone_number %></td>
		</tr>
		<% end %>
	</tbody>
</table>
