<h2>Режим администратора</h2>
<div class="manage-table">
<table class="table">
	<thead>
		<tr>
			<th>Название раздела</th>
			<th>Просмотр</th>
			<th>Удаление</th>
			<th>Добавление</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Услуги</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="/favours">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0" href="manage/favours_delete">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="/favours/new">Добавление</a></td>
		</tr>
		<tr>
			<td>Статьи</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="/articles">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0"  href="manage/articles_delete">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="/articles/new">Добавление</a></td>
		</tr>
		<tr>
			<td>Новости</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="/news">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0" href="#">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="#">Добавление</a></td>
		</tr>
		<tr>
			<td>FAQ</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="/questions">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0" href="#">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="#">Добавление</a></td>
		</tr>
		<tr>
			<td>Администраторы</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="/admins">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0" href="#">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="#">Добавление</a></td>
		</tr>
		<tr>
			<td>Авторы</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="#">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0" href="#">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="#">Добавление</a></td>
		</tr>
		<tr>
			<td>Пользователи</td>
			<td><a class="btn btn-outline-info my-2 my-sm-0" href="/users">Просмотр</a></td>
			<td><a class="btn btn-outline-danger my-2 my-sm-0" href="#">Удаление</a></td>
			<td><a class="btn btn-outline-success my-2 my-sm-0" href="#">Добавление</a></td>
		</tr>
	</tbody>
</table>
</div>
