<h2>Удаление новости</h2>
<p align="center">Введите id удаляемой новости</p>
<form action="/manage/news_delete" method="POST">
<div class="form" align="center">
  <div class="form-group scale_form">
    <div class="col-sm-3">
    <input name="destroy_id" type="text" class="form-control" placeholder="Введите id">
    </div>
  </div>
   <div class="form-group scale_form">
    <div class="col-sm-offset-4 col-sm-4">
      <%= button_to "Удалить", url: "/news", method: :destroy %>
    </div>
  </div>
</div>
</form>
