<h2>О компании</h2>

<div class=breadcrumbs>
   <div class="btn-group btn-breadcrumb">
      <a href="/" class="btn btn-default">Главная</a>
      <p class="breadcrumbs-symbol"> > </p>
      <a class="btn btn-default disabled">О компании</a>
   </div>
</div>

<div class="content">
	<p>Научно-консультационный центр студенческих исследований «EcoDip» оказывает помощь студентам в написании на заказ дипломных и курсовых работ, рефератов и контрольных, докладов и отчетов по практике по экономическим специальностям.
Наша компания даёт гарантии качества (договор на оказание услуг) на наши работы. Каждый заказ курсовой или дипломной работы сопровождается договором оказания услуг и кассовым чеком. Вы не покупаете кота в мешке — перед оплатой заказанной работы, Вы проверяете работу на соответствие теме, требованиям и пожеланиям. Все работы перед передачей ее Вам внимательно проверяются нашими сотрудниками на соответствие Вашим требованиям и методическим указаниям. Все доработки включены в цену.</p>
<h2 style="margin-top:-50px">Студенческая работа от EcoDip - это:</h2>
<ul class="list3b">
	<li>
		<h5>Оперативное выполнение заказа</h5>
		<p>Специалисты готовы написать вашу дипломную или курсовую работу срочно, что никак не скажется на ее качестве</p>
	</li>
	<li>
		<h5>Дипломированные авторы</h5>
		<p>Написанием работ занимаются бакалавры, магистры и кандидаты экономических наук, которые знают все нюансы подготовки студенческих работ, разбираются в тематиках и используют научный язык при написании материала</p>
	</li>
	<li>
		<h5>Подготовка работ по любым экономическим дисциплинам</h5>
		<p>Вне зависимости от того, какую сферу экономики вы изучаете, мы готовы написать студенческую работу: работа будет выполнена и оформлена без логических ошибок, аккуратно и со всеми соответствующими выводами и заключениями</p>
	</li>
	<li>
		<h5>Дипломы на заказ по конкурентным ценам</h5>
		<p>Стоимость соответствует высокому качеству подготовленного курсового проекта и зависит от его тематики, объема, срочности и типа. Все доработки при обнаружении недочетов бесплатны</p>
	</li>
	<li>
		<h5>Полная конфиденциальность</h5>
		<p>Информация о том, что вы решили купить курсовую или другую работу в нашем центре, не распространяется</p>
	</li>  
	<li>
		<h5>Выполнение только индивидуальных авторских проектов</h5>
		<p>Заказывая дипломную работу, вы получаете оригинальный материал (по договору оказания услуг), который пройдет проверку на уникальность на любом сервисе</p>
	</li>  
	<li>
		<h5>Широкий спектр предоставляемых услуг</h5>
		<p>Сотрудники центра выполняют дипломные работы на заказ, отчеты по практике, контрольные, курсовые работы, рефераты, а также повышают уникальность текстов и сопровождают до успешной защиты проекта</p>
	</li>  
</ul>
<h2>Сомневаетесь в выборе?</h2>
<div class="content" align="center">
<p>Закажите бесплатную консультацию, нажав на кнопку ниже! Наши специалисты свяжутся с Вами в течение нескольких минут и ответят на все интересующие Вас вопросы</p>
<div class="scale_button">
    <%if session[:user_id]%>
    <%@user = User.find(session[:user_id])%>
    <br><br><a type="button" align="center" href="/success" class="btn btn-lg btn-success">Заказать бесплатную консультацию</a>
    <%else%>
    <br><br><a type="button" align="center" href="/sign_in" class="btn btn-lg btn-success">Заказать бесплатную консультацию</a>
    <%end%><br><br><br><br>
</div>
</div>
</div>