/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
	font-family: 'Roboto'; 
	src: url(roboto-light.ttf); 
}

.navbar-brand-logo{
	padding-left: 30px;
}

.navbar-brand{
	padding-left: 20px;
	padding-right: 20px;
}

.nav-item{
	padding-right: 10px;
	padding-left: 10px;
}

.form-inline{
position: absolute;
right: 0;
padding-right: 30px;
font-family: Roboto;
}

.sign_in_helper{
	padding-top: 20px;
}

a{
	color:#C4C4C4;
	text-decoration: none;
	font-family: Roboto;
}

p{
	text-decoration: none;
	font-family: Roboto;
}

.sign_in{
  padding-top: 70px; 
}

.nav-item{
	align-self: right;
}

.form-group {
  padding-top: 5px; 
}

h2 {
	font-family: Roboto;
	padding-top: 40px;
	text-align: center;
	padding-bottom: 40px;
}

small{
	color:#666666;
}

.admin_id { display: none; }

h5 {
	font-family: Roboto;
}


h3 {
	font-family: Roboto;
}

.col-sm{
	text-align: center;
}

.rightimg  {
   float: right; /* Выравнивание по правому краю  */ 
   margin: 0 20px 0 40px; /* Отступы вокруг картинки */
}

.content{
	padding-right: 200px;
	padding-left: 200px;
}

.manage-table{
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.scale_form {
  transition: 0.5s; 
}

.scale_form:hover {
  transform: scale(1.1);
}

.scale {
  transition: 0.2s; 
}

.scale:hover {
  transform: scale(1.2);
}

.container {
padding-top: 30px;
display:grid;
grid-template-columns: repeat(3,1fr)
}